
.rpl-header-daylist {
  border : 1px solid #888;
  display: flex;
}

.rpl-header-daylist > div {
  /*flex: 1;*/
  /*padding: 0 5px ;*/
  /*border-right : 1px solid #888;*/
}

.rpl-header-daylist-day {
  text-align: center;
  border-right : 1px solid #888;
  border-top : 1px solid #888;
}
.rpl-header-daylist-day--current {
  background: #aaa;
}

.rpl-header-controls > div{
  display: inline-block;
}