.rpl-header {
  border-top:1px solid #888;
  border-right:1px solid #888;
  border-left:1px solid #888;
}

.rpl-header-daylist {
  border : 1px solid #888;
  display: flex;
}


.rpl-header-daylist-day {
  box-sizing: border-box;
  background:#dbdfff;
  text-align: center;
  border-top : 1px solid #888;
  border-left : 1px solid #888;
}
.rpl-header-daylist-day:first-letter {
  text-transform: uppercase;
}

.rpl-header-daylist-day:first-child{
  border-left: none;
  background: transparent;
}

.rpl-header-daylist-day--current {
  background: #626788;
  color : #eee;
}

.rpl-header-controls {
  text-align: center;
  padding : 5px 0;
}

.rpl-header-controls-button {
  margin : 0 2px;
}
.rpl-header-controls-title {
  display: inline-block;
  width: 300px;
}
.rpl-header-controls-title:first-letter {
  text-transform: uppercase;
}