.rpl-header {
  border-top:1px solid #888;
  border-right:1px solid #888;
  border-left:1px solid #888;
}

.rpl-header-daylist {
  border : 1px solid #888;
  display: flex;
}


.rpl-header-daylist-day {
  background:#aeb6f7;
  text-align: center;
  border : 1px solid #888;
}

/*.rpl-header-daylist-day:first-child{
  border-left : 1px solid #888;
}
*/
.rpl-header-daylist-day--current {
  background: #aaa;
}

.rpl-header-controls {
  text-align: center;
  padding : 5px 0;
}

.rpl-header-controls-button {
  margin : 0 2px;
}