
.rpl-body {
  border: 1px solid #888;
  box-sizing : border-box;

  /*
  display: inline-block;
  width: 100%;*/
  position: relative;
}

.rpl-body-daylist {
  border-bottom : 1px solid #aaa;
  display: flex;
  height : 2em;
  position: relative;
}

.rpl-body-daylist-day ,.rpl-body-daylist-day--current{
  /*border-left: 1px solid #888;*/
  border-right: 1px solid #888;
  flex:1;
}

.rpl-body-daylist-day--current {
  background: #ffca79;
}

.rpl-body-grid-line {
}

.rpl-sidebar-item {
  border-right : 2px solid #777;
  background : #eee;
  height:100%!important;
}
.rpl-body .react-grid-layout {
  border-bottom: 1px solid #aaa
}

.react-grid-item.react-grid-placeholder {
  background : #888;
}